---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/header.astro';
import Main from '../layouts/main.astro';
---

<Layout title="Jesus Lozada Portfolio">
	<Header></Header>
	<Main></Main>
</Layout>

<style>

</style>
