

<header>

  <div>
    <h1>
      Jesus Lozada
    </h1>
    <h2>Frontend Developer</h2>
  </div>
  <nav>
    <ul>
      <li><a href="#info">Info</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>
</header>