---
import Experience from "../components/experience";
import Skill from "../components/skill";
import Project from "../components/project";
import Contact from "../components/contact";
---

<main>
  <section id="#info">
    <article></article>
  </section>

  <section id="#experience">
    <article>
      <Experience/>
    </article>
  </section>

  <section id="#skills">
    <article>
      <Skill/>
    </article>
  </section>

  <section id="#projects">
    <article>
      <Project/>
    </article>
  </section>

  <section id="#about">
    <article>
      <Contact/>
    </article>
  </section>
</main>