---
import Experience from "../components/experience.astro";
import Skill from "../components/skill.astro";
import Project from "../components/project.astro";
---

<main>
  <section id="info">
    <h3 class="section-title">About me</h3>
    <article id="about-container">
      <p>
        I am a front-end developer with two years of experience creating user-friendly and responsive web applications,  working with technologies like Javascript, HTML, CSS, React, Angular +2, Python, C#. i’m looking to work with international companies where i can have the opportunity to contribute and focus on new challenges to keep me growing as a developer. I'm sure that i can bring value to your company with my creativity, problem-solving skills and attention to detail.
      </p>
    </article>
  </section>

  <section id="experience">
    <h3 class="section-title">Experience</h3>
    <article class="article-container">
      <Experience/>
    </article>
  </section>
  
  <section id="projects">
    <h3 class="section-title">Projects</h3>
    <article class="article-container">
      <Project/>
    </article>
  </section>
  
  <section id="skills">
    <h3 class="section-title">Skills</h3>
    <article id="wrap-container">
      <Skill/>
    </article>
  </section>

</main>

<style>

  .section-title{
    color: var(--white);
    margin: 25px 0;
    text-align: center;
  }

  #about-container{
    color: var(--white);
    padding: 0 20px;
  }

  #about-container > p{
    letter-spacing: 1px;
  }

  #wrap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .article-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

</style>